@{
    ViewBag.Title = "Categories";
}

<div>
    <ul style="font-size: 40px; margin-left: 0px;">
        <li>
            <span>Category1</span>
        </li>
        <li>
            Category2
        </li>
    </ul>
</div>

